{% extends 'base.html' %} 

{% load static %} 

{% block title %} | About Us {% endblock %} 

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About Beagles Unchained</h1>
        <p class="lead">
          According to the U.S. Department of Agriculture's aptly named the Animal Usage report, 60,979 dogs were used in the U.S. for experimentation in 2016 alone. 
          The reported number of all animals used for experimentation, whose reporting was required, was 820,812. 
          In fact, the majority of dogs bred and sold for experimentation are beagles, which are considered ideal because of their docile, human-trusting personality. 
          In other words, the very traits that have made them such loving and loyal companions to humans are the ones that humans exploit to best manipulate them in labs.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>We Help Every Laboratory Beagle To Find A Loving Owner</h2>
        <p class="lead">
          We help beagle dogs who have opportunities to escape from medical experiments to enjoy the happiness they should have.
        </p>
        <img src="{% static 'img/about.png' %}" alt="" />
        <p class="mt-4">
          While we can't change the fact that humans need to sacrifice them for a better life, at least we can let some of them to lie in a human bed, dress little human clothes, eat human food, and enjoy happiness they should have, 
          that is the best reward we people can give them.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      {% if volunteers %} {% for volunteer in volunteers %}
      <div class="col-md-4">
        <img
          src="{{ volunteer.photo.url }}"
          alt=""
          class="rounded-circle mb-3"
        />
        <h4>{{ volunteer.name }}</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> Volunteer
        </p>
        <hr />
        <p><i class="fas fa-phone"></i>{{ volunteer.phone }}</p>
        <p><i class="fas fa-envelope-open"></i> {{ volunteer.email }}</p>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Volunteers Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
